* {

	margin: 0;
}

html, body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: #333333;
   height: 100%;
   margin: 0px;
}

a, h2, h3, article header
{
	color: #1975FF;
	text-decoration: none;
}

article
{
	margin-top: 30px;
}

article section h2, h3
{
	margin-top: 20px;
	margin-bottom: 5px;
}

article section p
{
	text-indent: 30px;
	margin-left: 20px;
	margin-top: 10px;

}

.wrapper
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -43px

}

footer, .push
{
	height: 30px;
}

footer
{
	width: 100%;
	text-align: center;
	padding-top: 13px;
	background-color: #E6E6E6;

}

footer ul
{
	list-style-type: none;
}

footer li
{
	display: inline;
	margin: 5px 20px 5px 20px;
}

footer a
{
	color: #333333;
	text-decoration: none;
}

.light-text
{
	font-weight: lighter;
}

#header
{
	position: relative;
	width: 100%;
	height: 200px;
	box-shadow: 0 5px 5px 0px #888888;
}

#header-content
{
	position: absolute;
	bottom: 0;
	font-size: 72px;
	margin: 10px 30px;
}

#content
{
	margin: 50px 50px 50px 200px; /*top right bottom left*/
}