body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

h1, h2
{
	color: lightseagreen;
	text-decoration: underline;
}

.section
{
	color: black;
	background-color: gainsboro;
	width: 600px;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}

a:link
{
	color: lightseagreen;
}

a:visited
{
	color: burlywood;
}

#zach
{
	float: left;
	padding: 10px;
}