body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: #61380B;
}

h1, h2
{
    color: #8A0808;
}

.section
{
    padding: 5px 15px;
    clear: both;
}

#header, #footer
{
    clear: both;
    text-align: center
}

#container
{
	float: center;
    width: 90%;
}

#nav, #content
{
	float: left;
    margin: 0% 2.5%;
	background-color: lightgray;
}

#nav
{
    width: 25%;
}

#content
{
    width: 65%;  
}

#nav  ul
{
    list-style-type: none;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

#nav li
{
    margin: 5px;
    padding: 10px;
}

#about  img
{
    float: left;
    padding: 0px 10px 0px 0px;
}